@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');
$buttonbg: #a33327;
$header: lighten($buttonbg,5%);
$proper: #689775;
$bgcolor: #edf5e1;
$buttonfont: #fff;
$white: #fff;
$radius: 3px;
$admin-nav-bg: #333;
$admin-edit-bg: #445566;
$admin-del-bg: #883322;
$admin-save-bg :#006633;
$admin-quit-bg: #e99a11;
$body-font: 'Roboto', sans-serif;
$header-font: 'Roboto Condensed', sans-serif;